<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="css/styles.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/093740ebc3.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>



<body>

  <div class="navbar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-5 border-bottom shadow-sm">
    <h2 class="navbar-brand my-0 mr-md-auto">Health Dashboard</h2>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-light" href="/">Dashboard</a>
      <a class="p-2 text-light" href="/about">About</a>
      <a class="p-2 text-light" href="/help">How It Works</a>
      <a class="p-2 text-light" href="/contact">Contact Us</a>
    </nav>
  </div>