<%- include("partials/header.ejs") -%>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h3 class="my-0">ABOUT THE PROJECT</h3>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li style="padding-bottom: 2rem;">
                        <h4 class="font-weight-normal" style="text-align: center;">This system was developed by Rahul
                            Kamath, Rakshith P and Rohan Sathish as a part of their final year engineering project.</h4>
                    </li>
                    <li style="padding-bottom: 2rem;">
                        <h4 class="font-weight-normal" style="text-align: center;">Refer to the <a href="/help">How It
                                Works</a> section for instructions.</h4>
                    </li>
                    <li>
                        <h4 class="font-weight-normal" style="text-align: center;">Contact us:</h4>
                    </li>
                    <li>
                        <div>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li style="padding-bottom: 0.5rem;">
                                    <a href="mailto:rahulkamath.ec17@bmsce.ac.in" style="text-align: center;">
                                        <h5>rahulkamath.ec17@bmsce.ac.in</h5>
                                    </a>
                                </li>
                                <li style="padding-bottom: 0.5rem;">
                                    <a href="mailto:rakshithp.ec17@bmsce.ac.in" style="text-align: center;">
                                        <h5>rakshithp.ec17@bmsce.ac.in</h5>
                                    </a>
                                </li>
                                <li style="padding-bottom: 0.5rem;">
                                    <a href="mailto:rohan.ec17@bmsce.ac.in" style="text-align: center;">
                                        <h5>rohan.ec17@bmsce.ac.in</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
                <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> -->
            </div>
        </div>
    </div>
</div>



<%- include("partials/footer.ejs") -%>